/*----------------------HERO-SECTION--------------------------------*/
body{
    font-family: sans-serif;
}


header {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

header a{
    color: black;
    margin-left: 24px;
} 

header a:hover{
    color: black;
}

header a:visited{
    color: black;
}

#menu-icon {
    width: 32px;
}



/*----------------------HERO-SECTION--------------------------------*/
#hero-section {
    background-position: center;
    background-image: url(../imgs/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    #marked {
        font-size: 17px;
    }
}
#marked {
    padding: 5px;
    background-color: #34c28c;
    display: initial;
}

/*----------------------About us-SECTION--------------------------------*/
#about-us {
    background-color:#212529;
}
/*----------------------Footer--------------------------------*/
footer{
    background-color: black;
}
/******************MOBILE MENU****************************/
#mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #c2dfdbed;
    z-index: 2;
    display: none;
}

#mobile-menu a {
    color:#1d85f1;
}

#mobile-menu a:hover {
    color: rgb(175,171,151);
}

#mobile-menu #close-btn {
    position: absolute;
    right: 23px;
    top: 8px;
    width: 36px;
}
